$color-link: #333;
$color-text: #333;
$color-ccc: #ccc;
/*tags*/
html{height: 100%;}
html,body{
  font-size: 62.5%;
  font-weight: 400;
  font-family: Helvetica, Arial, "Microsoft YaHei UI";
  position: relative;
}
html,body,ul,li{
  margin: 0;
  padding: 0;
}
ul,li{list-style: none;}
a{
  text-decoration: none;
  color: $color-link;
}

hr{
  border: none;
  border-bottom: 1px solid #ddd;
  margin: 0;
  padding: 0;
}


.wrapper,
.content,
.header{
  position: relative;
  margin: 0 auto;
  font-size: 16px;
  overflow: hidden;
  height: inherit;
}

.panel{
  background-color: #fff;
  box-sizing: border-box;
}
.box-shadow{
  box-shadow: 0 0 10px 1px #ddd;
}

.color-ccc{color: $color-ccc}

/*position*/
.pos-r{position: relative};
.pos-a{position: absolute;};
.pos-f{position: fixed;};

/*float*/
.float-none{
  float: none !important;
  clear: both;
}
/*display*/
.d-t{display: table;width: 100%;}
.d-tc{display: table-cell;    vertical-align: middle;}
.d-ib{display: inline-block;}
.d-flex{
  display: -webkit-flex;
  display: flex;
}
.flex-d-column{
  flex-direction: column;
}
.flex-j-between{
  justify-content: space-between;
}

/*text-align*/
.text-a-r{ text-align: right}
.text-a-l{ text-align: left}
.text-a-c{ text-align: center}

/*font*/
.f12{font-size: 1.2rem}
.f14{font-size: 1.4rem}
.f16{font-size: 1.6rem}
.f18{font-size: 1.8rem}
.f20{font-size: 2rem;}
.f24{font-size: 2.4rem;}
.f30{font-size: 3rem;}
.f40{font-size: 4rem;}
.f60{font-size: 6rem;}

.f-light{font-family: "Microsoft YaHei Light","Microsoft JhengHei UI Light"}

/*padding*/
$padding-sm: 10px;
$padding-ml: 15px;
$padding-xl: 20px;
.p-sm{padding: $padding-sm;}
.p-ml{padding: $padding-ml;}
.p-xl{padding: $padding-xl;}

.p-t-sm{padding-top: $padding-sm;}
.p-t-ml{padding-top: $padding-ml;}
.p-t-xl{padding-top: $padding-xl;}

.p-l-sm{padding-left: $padding-sm;}
.p-l-ml{padding-left: $padding-ml;}
.p-l-xl{padding-left: $padding-xl;}

.p-b-sm{padding-bottom: $padding-sm;}
.p-b-ml{padding-bottom: $padding-ml;}
.p-b-xl{padding-bottom: $padding-xl;}

.p-r-sm{padding-right: $padding-sm;}
.p-r-ml{padding-right: $padding-ml;}
.p-r-xl{padding-right: $padding-xl;}

/*外边距*/
$margin-sm: 10px;
$margin-ml: 15px;
$margin-xl: 20px;
$margin-xxl: 30px;
.m-sm{margin: $margin-sm;}
.m-ml{margin: $margin-ml;}
.m-xl{margin: $margin-xl;}
.m-xxl{margin: $margin-xxl;}

.m-t-sm{margin-top: $margin-sm;}
.m-t-ml{margin-top: $margin-ml;}
.m-t-xl{margin-top: $margin-xl;}
.m-t-xxl{margin-top: $margin-xxl;}

.m-l-sm{margin-left: $margin-sm;}
.m-l-ml{margin-left: $margin-ml;}
.m-l-xl{margin-left: $margin-xl;}
.m-l-xxl{margin-left: $margin-xxl;}

.m-b-sm{margin-bottom: $margin-sm;}
.m-b-ml{margin-bottom: $margin-ml;}
.m-b-xl{margin-bottom: $margin-xl;}
.m-b-xxl{margin-bottom: $margin-xxl;}

.m-r-sm{margin-right: $margin-sm;}
.m-r-ml{margin-right: $margin-ml;}
.m-r-xl{margin-right: $margin-xl;}
.m-r-xxl{margin-right: $margin-xxl;}


/*表单元素*/
input{  vertical-align: middle;  }

input[type='text'],
input[type='password'],
input[type='email']{
  border: 1px solid #ddd;
  outline: none;
  padding: 0.5rem;
  transition: all 0.2s;
  font-family: "Microsoft YaHei UI";
  box-sizing: border-box;
}

input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus{
  border-color: #00abde;
  transition: all 0.2s;
}

/*默认按钮样式*/
input[type='button'],
button,
.btn{
  @extend .radius-ml;
  display: inline-block;

  border: 1px solid #dedede;
  padding: 0.4rem 0.6rem;

  color: $color-text;
  background-color: #fff;
  outline: none;

  cursor: pointer;
}
input[type='button']:hover,
button:hover,
.btn:hover{
  background-color: #eee;
}
.btn-block{
  display: block;
  width: 100%;
}

/*圆角*/
$radius-sm: 2px;
$radius-ml: 4px;
$radius-xl: 6px;
.radius-none{border-radius: 0;}
.radius-sm{  border-radius: $radius-sm;  }
.radius-ml{  border-radius: $radius-ml;  }
.radius-xl{  border-radius: $radius-xl;  }

.cur-p{
  cursor:pointer;
}
